change-id = 134650

[llvm]
targets = "AArch64;ARM;X86;RISCV"
experimental-targets = ""
clang = true
download-ci-llvm = false
link-shared = true
thin-lto = true
version-suffix = ""
ldflags = "-s"
libzstd = true

[build]
docs = false
submodules = false
extended = true
tools = [
    "cargo",
    "src",
    "clippy",
    "rust-analyzer",
    "rustfmt",
    "rust-analyzer-proc-macro-srv",
]
cargo-native-static = true

[install]
prefix = "../../out/rust"
sysconfdir = "etc"

[rust]
channel = "nightly"
lto = "thin"
lld = false
strip = true
codegen-units = 1

[target.x86_64-unknown-linux-gnu]
llvm-has-rust-patches = false
cc = "clang-19"
cxx = "clang++-19"
linker = "clang-19"

[target.aarch64-apple-darwin]
llvm-has-rust-patches = false

[target.x86_64-apple-darwin]
llvm-has-rust-patches = false

[target.x86_64-pc-windows-gnu]
llvm-has-rust-patches = false
cc = "clang"
cxx = "clang++"
linker = "clang"
